[Unit]
Description=dump1090 RTL-SDR ADS-B Service
After=multi-user.target
ConditionalPathExists=!/opt/pocket1090/dump1090_not_to_be_run

[Service]
Type=? # 'idle' or 'notify'
Restart=? # 'on-failure'
ExecStart=/opt/pocket1090/dump1090 --quiet --metric --json-stats-every 0 --write-json /run/user/1000/
User=jdn

[Install]
WantedBy=multi-user.target # ???? pocket1090.service
