[Unit]
Description=dump1090 RTL-SDR ADS-B Service
After=multi-user.target

[Service]
Type=exec
Restart='always'
RestartSec=10s
ExecStart=/opt/pocket1090/dump1090 --quiet --metric --json-stats-every 0 --write-json /run/user/1000/
User=jdn
